
.main-container{
    display: flex;
    flex-direction: column;
    
    
}
/* .form-contact{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

h1{
    text-align: center;
}
body {
  font-family: sans-serif;
}
.form-container {
  max-width: 720px;
  margin: auto;
  padding: 2%;
  border: 1px solid #f7f7f7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.label {
  display: block;
  margin-top: 25px;
  font-size: 1rem;
}
.input, .textarea {
  width: 95%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#button {
  width: 95%;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background: black;
  line-height: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid black;
  margin-top: 25px;
  transition: color .4s ease-out, background .4s ease-out;
  box-sizing: border-box;
}
button:hover {
  color: black;
  background: #fff;
}
.errors {
  display: block;
  color: red;
  margin-top: 5px;
}
.error {
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.butt-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}