h1{
    text-align: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    
}
.upload-form{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    margin: 3em  auto;
    padding: 3em;
    max-width: 720px;

}

.input-box{
    position: relative;
    margin: 1em;
}

label{
    display: block;
    margin-bottom: 0.2em;
    font-size: 0.8rem;
}
input{
    border: none;
    width: 100%;
    border: 1px solid gray;
    outline: none;
    padding: 0.4em 0.4em;
}
.send{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
#send{
    width: 100px;
    padding: 0.4em 0.8em;
}
.manage-items a{
    text-decoration: none;
    text-align: center;
}
.manage-items{
    margin: auto;
}
.footer-item {
  color: black;
}

.footer-upper {
  display: flex;
  justify-content: center;
  max-width: 1040px;
  margin: auto;
  flex-wrap: wrap;
}
.footer-item {
  display: block;
  font-family: sans-serif;
  margin: 1em 4em;
  text-align: center;
}
.footer-item p {
  font-weight: 300;
  font-family: sans-serif;
  padding-left: 0.5em;
  cursor: pointer;
}
.footer-item p:hover{
  color: #00596d;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  font-size: 10px;
  background-color: #f0bda7;
  padding: 1em;
}

.footer-bottom a {
  text-decoration: none;
  text-align: center;
  color: black;
}
footer {
  background-color: #FAF1ED;
  
}
.footer-bottom a:hover{
  color: #00596d;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .footer-upper {
    justify-content: space-between;
  }
  .footer-item {
    text-align: justify;
  }
  .footer-item  p{
    cursor: pointer;
    
  }
  .footer-item  p:hover{
    color: #5296A5;
  }
}
#current_page, #current_page:hover{
  background-color: black;
  color: white;
}


/* Site Detail page */
